.navbar-nav{

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 37%;
  padding-right: 37%;
 padding-bottom: 20px;
}

.nav-item{
   background-image:url(images/clear-tape-11.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: black;
/*    margin:20px;*/
   text-decoration: none;
   display:inline-block;
   background-color:none;
   padding: 5px 20px;
/*    text-decoration:none;*/
    transition: .2s all;
   /* border: 3px solid black;*/
  }
  
  .nav-item:hover{
	
	background-image:url(images/clear-tape-04.png);
	background-repeat: no-repeat;
  background-size: 120% 120%;
	color: black;
	filter: brightness(90%);
	font-size: 1.2rem;
/*    background-color:white;*/
  }
  
  
.nav-link{
	color: black;
}


.container {
/*    width: 1200px;*/
/*background-image: url(images/DRS_Tape_Painters_09.PNG);
	background-size: 12% 30%;
	background-repeat: no-repeat;*/
    margin: ;
/*    box-sizing: border-box;*/
    padding: 50px;
	text-align: center;
	justify-content:center;
	flex-direction:column;
    display:flex;
	
}

h1{
	color: black;
	font-size: 3rem;
	font-weight:1;
	text-align: center;
}

h2{
	color: black;
	font-size: 1.8rem;
	background-image: url(images/clear-tape-24.png);
	font-weight: 100;
	text-align: center;
}
h3 {
  font-size: 17px;
  text-align: center;
}

header{
padding-top:2%;
	position: inherit;
	  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 270%;
}


body{
	align-content: center;
	font-family: "Courier New", helvetica, arial, sans-serif;
	margin: 0px;
	background-image:url("images/AU_FG_Texture-7.jpg");
/*
	background-size: 100% 100%;
	background-repeat: no-repeat;
*/
	display:flex;
	
	flex-direction:column;
   /* color:#aaa;*/
    color:black;
    
}
.hero{
/*position:relative;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/* align-content: center;*/
/*  padding-left: 01%;
  padding-right: 01%;
*/
}
.hero-image{
	opacity: 70%;
	background-size:;
	display: flex;
	flex-wrap: wrap;
	position:relative;
	align-content: center;
	padding-left: %;
	
}



a:link {
    color: black;
    text-decoration: none;
}


.column{
  display: grid;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 45%;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}
.row section{
    padding-top: 30px;
    padding-bottom: 40px;
	
}
//.four.columns {
    width: 30.6666666667%;
}

//.eight.columns {
    width: 65.3333333333%;
}

.video{
   // display:inline-block;
   // display:flex;
    max-width:400px;
    max-height:230px;
    padding:20px;
    margin:;
	transition: .2s all;
}
.video:hover{
	filter: drop-shadow(1px 1px 7px #00002a);
	opacity: 90%;
	
}

.pfp{
	width: 100%;
box-sizing: border-box;
	padding: 20;
	width:40%;
    height:40%;
}

footer {
 padding-top: 20%;
  padding-bottom: 0%;
  position:relative;
//background-image: url(images/CRsNewYearPNGs8.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 270%;
  top: 70px;
  color: black;
  padding:0% 0% 5% 0%; /*top, right, bottom, left*/
}