.navbar-nav{

  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 37%;
  padding-right: 37%;
 padding-bottom: 20px;
}

.nav-item{
   background-image:url(images/clear-tape-11.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: aqua;
/*    margin:20px;*/
   text-decoration: none;
   display:inline-block;
   background-color:none;
   padding:5px 20px;
/*    text-decoration:none;*/
    transition: .2s all;
   /* border: 3px solid black;*/
  }
  
  .nav-item:hover{
	background-image:url(images/clear-tape-04.png);
	background-repeat: no-repeat;
  background-size: 100% 100%;
	color: mediumpurple;
/*    background-color:white;*/
  }
  
  
.nav-link{
	color: mediumpurple;
}
.container {
/*    width: 1200px;*/
    margin: 0 auto;
/*    box-sizing: border-box;*/
    padding: 0 40px;
}

h1{
	color: whitesmoke;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
}

header{
padding-top:2%;;
}

body{
	align-content: center;
	font-family: "Courier New", helvetica, arial, sans-serif;
	margin: 10;
	background-image:url("images/grainbg.jpg");
	display:flex;
	
	flex-direction:column;
   /* color:#aaa;*/
    color:whitesmoke;
    
}
.hero{
/*position:relative;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/* align-content: center;*/
/*  padding-left: 01%;
  padding-right: 01%;
*/
}
.hero-image{
	opacity: 70%;
	background-size:;
	display: flex;
	 flex-wrap: wrap;
	position:relative;
	 align-content: center;
	padding-left: %;
	
}



a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: lightsteelblue;
}


.column{
  display: grid;
	  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: 45%;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
}


.video{
     display:inline-block;
   display:flex;
    width:360px;
    height:200px;
    padding:20px;
    margin:;
}